    body {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .image {
        background-image: url("1.jpg");
        height: 500px;
        width: 100%;
        background-size: cover;
        background-position: right top;
        background-attachment: fixed;
    }
    
    nav {
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px 10px;
        box-sizing: border-box;
    }
    
    nav .logo {
        padding: 22px 5px;
        float: left;
        font-size: 24px;
        font-weight: bold;
        color: #fff;
    }
    
    nav ul {
        list-style: none;
        float: right;
        margin: 0;
        padding: 0;
        display: flex;
    }
    
    nav ul li a {
        line-height: 80px;
        color: #fff;
        padding: 10px 18px;
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
    }
    /* Style the field set */
    
    .field {
        padding: 30px;
        width: 60%;
        margin-top: 120px;
        margin-left: 20%;
        border-color: white;
    }
    /* Style the field legend */
    
    .field legend {
        text-align: center;
        color: white;
        font-weight: bold;
    }
    /* Style the field set text */
    
    .text {
        font-size: 40px;
        color: white;
        text-align: center;
    }
    
    .button {
        margin-top: 50px;
    }
    
    #btn {
        text-decoration: none;
        color: white;
        padding: 15px 20px;
        background-color: #1798eb;
        border-radius: 2px;
        margin-left: 45%;
    }
    
    .text1 {
        text-align: center;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    
    .main {
        display: flex;
        background-color: #e7e6e4;
        height: 600px;
    }
    
    .row1 {
        display: flex;
        margin-top: 60px;
        margin-left: 40px;
    }
    
    .sidebox {
        width: 300px;
    }
    
    .head {
        width: 300px;
    }
    
    .right {
        height: 400px;
        margin-left: 40px;
        margin-top: 70px;
    }
    
    .img3 {
        position: relative;
        padding-left: 450px;
        padding-top: 200px;
    }
    
    .img2 {
        position: absolute;
    }
    
    h3 img {
        background-color: #1798eb;
        padding: 10px 10px;
        border-radius: 5px;
    }
    
    .box {
        display: flex;
        padding-right: 20px;
    }
    
    .box div {
        padding-right: 20px;
    }
    
    .row1 img {
        height: 30px;
        width: 30px;
    }
    
    .img2 {
        width: 530px;
        height: 400px;
        margin-left: 16px;
    }
    
    .img3 {
        width: 125px;
        height: 200px;
        margin-left: 20px;
    }
    
    p {
        opacity: .6;
    }
    
    footer {
        padding-left: 30px;
        height: 80px;
        background-color: #242730;
    }
    
    @media screen and (max-width: 900px) {
        .image {
            width: 100%;
        }
    }
    
    @media screen and (max-width: 700px) {
        .main {
            display: inline-block;
            background-color: #fff;
        }
        .row1 {
            display: inline-block;
        }
        .right {
            display: inline;
        }
        .img3 {
            width: 150px;
            display: inline;
            position: relative;
            margin-left: -200px;
        }
        .img2 {
            width: 400px;
            position: absolute;
        }
    }
    
    @media screen and (max-width: 550px) {
        .main {
            display: inline;
        }
        .row1 {
            display: inline;
        }
        .right {
            display: inline;
        }
        .img3 {
            width: 100px;
            display: inline;
            position: relative;
        }
        .img2 {
            width: 400px;
            position: absolute;
        }
    }